<div class="row">
    <div class="col mt-2">
        <h1>Logging PoC</h1>

        <p class="lead">
            Use the buttons to generate some errors and log them to ELK using our ElkLoggingService
        </p>
    </div>
</div>

<div class="row ">
    <div class="col mt-2">
        <button ng-click="vm.throwSimpleError()" class="btn btn-primary btn-lg">Throw simple error</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mt-2 mb-2" ng-repeat="logged in vm.loggedEvents">

            <h3 class="card-header">Logged Error at {{logged.timestamp | date:"mediumTime" }}:</h3>

            <div class="card-block">
                <div hljs hljs-source="'{{logged | json}}'"></div>
            </div>
        </div>
    </div>
</div>